:root {
    --mainColor: rgb(247, 218, 218);
    --headerColor: rgb(78, 78, 255);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, "sans-serif";
}

#root {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

input {
    outline: none;
}
